h1{
    text-align: center;
}


p{
    font-family: 18px;
}


.highlight{
    color: red;
}

.gene-list{
    list-style-type: square;
    color: darkblue;
}

.gene-list{
    margin-bottom: 10px;
}

.card{
    border: 1px black;
    padding: 20px;
    margin: 20px;
    background-color: lightgray;
}

.card h2{
    text-align: center;
}

table{
    border: 1px black;
    border-collapse: collapse;
}

th{
    background-color: darkblue;
    color: white;
    padding: 10px;
}

button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
}

form{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-column: 2/4;
 grid-template-areas: none;
}

form{
        display: grid;
    grid-template-columns: 120px 2fr  auto;
    gap: 10px; 
    justify-content: center;
    flex-flow:row;
    flex-basis: 200pc;
    grid-template-columns: repeat(4, 1fr auto);
}










